ion-toolbar{
    --background:#F75C2F
}
ion-title{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:20px;
   padding-right: 20%;
  
}
.message{
padding: 10px;
border-radius: 10px;
margin-bottom: 4px;
white-space: pre-wrap;
}
.other-message{
    background-color: #BDC0BA;
}
.my-message{
    background-color: #91989F;
}
.time{
color: black;
float:right;
font-size: 14px;
}
.msg-btn{
--padding-start:0.5em;
--padding-end:0.5em;
}
.message-input{
    width: 100%;
    border :1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}
.nameFont{
    font-size: 22px;
    color:black;
    font-weight: bold;
}
.msgFont{
    font-size: 18px;
    margin-top: 10px;
    color: #1C1C1C;

}