<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">JAPAN景點</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-buttons (click) = "home()">
      <span style="width: 80px; height: 80px;">
      <img src="/assets/Img/backhome.png" ></span>
      <h3 style="color: #484891; font-size: 18px; font-weight: bolder;">回首頁</h3>
    </ion-buttons>
  </div>
  <h4 id="title">會員登入</h4>
  <div id="account">
    <span style="padding-right: 120px;">
      <label style="font-size: 20px; font-weight: bold; color: #272727;">請輸入Email信箱:</label>
    </span>
    <br>
    <input type="email" id="email" name="email" size="30" placeholder="12345@example.com" [(ngModel)]="userEmail"
      style="height: 30px; background-color: white; border-radius: 5px;">
  </div>
  <div id="pwd">
    <span style="padding-right: 175px;">
      <label style="font-size: 20px; font-weight: bold; color: #272727;">請輸入密碼:</label>
    </span>
    <br>
    <input type="password" name="pwd" size="30" placeholder="密碼" [(ngModel)]="password"
      style="height: 30px; background-color: white; border-radius: 5px;">
  </div>
  <div style="text-align: center;">
    <label *ngIf="!validUser" style="color: #AE0000;text-shadow: 0.1em 3px 6px red; font-size: large;padding-left: 200px; font-weight: bolder;">輸入錯誤</label>
  </div>
  <br>
  <div style="text-align: center;">
    <nobr>
      <button id="btnRegister" (click)="signupPage()">註冊</button>
      <button class="btnForget">忘記密碼</button>
    </nobr>
  </div>
  <br>
  <div style="text-align: center;">
    <button  id="LoginBtn" (click)="onSignin()">登入</button>
  </div>
  
  <div id="signinImg">
    <img src="assets/Img/onsen.png" >
  </div>
</ion-content>