ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
}
#title{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    color: 	#0C0C0C
}
#account{
    text-align: center;
    padding-top: 30px;
}
#pwd{
    text-align: center;
    padding-top: 30px;
}
.btnForget {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: red;
    text-decoration:underline;
    padding-left: 50px;
    font-weight: bolder;
   
}
#btnRegister {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #484891;
    text-decoration:underline;
    padding-right: 120px;
    font-weight: bolder;
    
  }
#signinImg{
    width: 350px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#LoginBtn{
    width: 320px;
    height: 45px; 
    border-radius:30px;
    font-size: 18px;
    background-color:#66BAB7 ;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}