ion-toolbar{
    --background:#6C6024
}
ion-title{
    
    color: white;
    font-weight: bolder;
    font-size:x-large;
}
ion-content{

    --ion-background-color:	white;
}
ion-card{
   background-color: white;
   height: 80px;
   width: 80px;
}
.one{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#F75C2F;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
.hr {
    border-bottom: 1px solid #787878;
    margin: 10px 0;
    width: 100%;
  }
#title{
    color: #F75C2F;
    font-weight: bold;
}
.two{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#6A4028;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title2{
    color: #6A4028;
    font-weight: bold;
}
#title3{
    color: #64363C;
    font-weight: bold;
}
.three{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#64363C;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title4{
    color: #A36336;
    font-weight: bold;
}
.four{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#A36336;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title5{
    color: #838A2D;
    font-weight: bold;
}
.five{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#838A2D;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title6{
    color: #51A8DD;
    font-weight: bold;
}
.six{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#51A8DD;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title7{
    color: #00896C;
    font-weight: bold;
}
.seven{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#00896C;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}
#title8{
    color: #787D7B;
    font-weight: bold;
}
.eight{
    margin-right: 10px;
    margin-left: 10px;
    background-color:#787D7B;
    color:white;
    border-radius: 5PX;
    width: 90px;
    height: 50px;
    font-size: 18px;
}

