
ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
}
ion-content{

    --ion-background-color:	white;
}
ion-icon{
    position: absolute;
   right: var(--padding-start);
   color: gray;
}
#imgA{
    padding-top: 150px;
   
}
#tabT{
    font-size: 30px;
    font-weight: bolder;
    color:gray ;
}