ion-toolbar{
    --background:#6C6024
}
ion-title{
    
    color: white;
    font-weight: bolder;
    font-size:x-large;
}
ion-content{

    --ion-background-color:	white;
}
.userName{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color:#642100 ;
}
ion-avatar{
    border: 2px solid gray !important;
    margin:0 auto;
    width:100px!important;
    height :100px !important;
} 
#travelImg{
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.memberBtn{
    width: 300px;
    height: 80px; 
    border-radius:10px;
    font-size: 32px;
    background-color: #6C6024;
    color:white;
    font-weight: bolder;

}
#tabT{
    width: 200px;
    height: 50px; 
    border-radius:30px;
    font-size: 24px;
    background-color:#6C6024 ;
    font-weight: bolder;
    color: white;
}
#imgA{
    padding-top: 150px;
    width: 300px;
    height: 400px;
   
}
#logOut{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: red;
    text-decoration:underline;
    font-weight: bolder;
    padding-left: 270px;
}

