ion-toolbar{
    --background:#6C6024
}
ion-title{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:20px;
}
ion-content{

    --ion-background-color:	white;
}
.userName{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color:white;
}
ion-avatar{
    border: 3px solid white !important;
    margin:0 auto;
    width:100px!important;
    height :100px !important;
} 
#travelImg{
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}
.memberBtn{
    width: 200px;
    height: 50px; 
    border-radius:30px;
    font-size: 20px;
    border: 2px solid white;
    background-color: #4F4F48;
    color:white;
    font-weight: bold;

}
#tabT{
    width: 200px;
    height: 50px; 
    border-radius:30px;
    font-size: 24px;
    background-color:#6C6024 ;
    font-weight: bolder;
    color: white;
}
#imgA{
    padding-top: 150px;
    width: 300px;
    height: 400px;
   
}
#logOut{
    border: none;
    background-color: inherit;

    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: red;
    text-decoration:underline;
    font-weight: bolder;
    padding-left: 270px;
}
.userEmail{
    
    font-size: 20px;
    font-weight: bolder;
    color:white;
    text-align: center;
}
#divCard{
    background:linear-gradient(to right, #52433D 30%, #535953);;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
#photodiv{
    position: absolute;
    margin-top: -95px;left: 50%;
    transform: translate(-50%);
}
