
ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
}
ion-content{

    --ion-background-color:	white;
}
.userName{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color:white;
}
ion-avatar{
    border: 3px solid white !important;
    margin:0 auto;
    width:100px!important;
    height :100px !important;
} 
#travelImg{
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
.memberBtn{
    width: 250px;
    height: 50px; 
    border-radius:30px;
    font-size: 20px;
    border: 2px solid white;
    background:linear-gradient(to right, #8F77B5 30%,#51A8DD);
    color:white;
    font-weight: bolder;
    font-family: sans-serif;

}
.logoutBtn{
    width: 250px;
    height: 50px; 
    border-radius:30px;
    font-size: 18px;
    border: 2px solid white;
    background:linear-gradient(to right, #8F77B5 30%,#51A8DD);
    color:white;
    font-weight: bolder;
    font-family: sans-serif;

}
#tabT{
    width: 250px;
    height: 50px; 
    border-radius:30px;
    font-size: 18px;
    background-color:#66BAB7 ;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}
#imgA{
    padding-top: 150px;
    width: 300px;
    height: 400px;
   
}
.userEmail{
    
    font-size: 16px;
    font-weight: bolder;
    color:white;
    text-align: center;
}
#divCard{
    background:linear-gradient(to right, #8F77B5 30%,#51A8DD);
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
#photodiv{
    position: absolute;
    margin-top: -95px;left: 50%;
    transform: translate(-50%);
}
