<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center;">JAPAN景點</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <div style=" text-align: center;" *ngIf="userService.vaildUser === false">
    <img src="/assets/Img/kouyo.png" id="imgA">
    <span>
      <button  id="tabT" (click)="signin()">前往登入會員</button>
    </span>
  </div>
  <div  *ngFor="let User of User" >
    <div  id="divCard" style="padding-top: 50px;" *ngIf="User.vaildUser">
      <div id="photodiv" *ngIf="User.vaildUser">
    <ion-avatar *ngIf="User.vaildUser" >
      <img *ngIf="User.vaildUser && !User.imageSrc " src="/assets/Img/noimg.png">
      <img *ngIf="User.vaildUser && User.imageSrc" src="{{User.imageSrc}}">
    </ion-avatar></div>
    <h6 class="userName" *ngIf="User.vaildUser">{{User.userName}}</h6>
    <h4 class="userEmail" *ngIf="User.vaildUser">信箱:{{User.Email}}</h4>
    <div style="text-align: center; padding-bottom: 15px;margin-top: 15px;"*ngIf="User.vaildUser">
      <button class="memberBtn" (click)=" modify()">修改會員資料</button></div>
    </div>
  <span style="text-align: center;display: inline-block;padding-top: 20px;" *ngIf="User.vaildUser">
    <button id="logOut" (click) = "logOut()">登出</button>
  </span>
  <div id="travelImg"*ngIf="User.vaildUser" >
    <img src="/assets/Img/travel2.png">
  </div>
  </div>
</ion-content>