ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
   padding-right: 20%;
}
#title{
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    color: 	#0C0C0C;
    padding-top: 40px;
    margin-bottom: 35px;
}
.itemlabel{
    font-size: 24px;
    font-weight: bolder;
    color: 	black
}
.itemInput{
    font-size: 16px;
    font-weight: bolder;
    color: 	black
}
#changeBtn{
    width: 320px;
    height: 45px; 
    border-radius:30px;
    font-size: 18px;
    background-color:#66BAB7 ;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}
#pwdPageImg{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    
}
.errorIcon{
    color: red;
    width: 30px;
    height: 30px;
}