ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
}
#title{
    margin-top: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: 	#0C0C0C
}
.itemlabel{
    font-size: 24px;
    font-weight: bolder;
    color: 	black
}
.itemInput{
    font-size: 16px;
    font-weight: bolder;
    color: 	black
}
ion-avatar{
    border: 2px solid gray !important;
    margin:0 auto;
    width:100px!important;
    height :100px !important;
} 
#photoBtn{
    border: none;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: gray;
    text-decoration:underline;
    font-weight: bolder;
}
#modifyBtn{
    width: 280px;
    height: 45px; 
    border-radius:30px;
    font-size: 18px;
    background-color:#66BAB7 ;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}
#cancelBtn{
    width: 280px;
    height: 45px; 
    border-radius:30px;
    font-size: 18px;
    font-weight: bolder;
    color: red;
    background-color: white;
    border: 1px solid red;
    font-family: sans-serif;
}
#pwdBtn{
    border: none;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: red;
    text-decoration:underline;
    font-weight: bolder;
}