
ion-title{
    text-align: center;
    color: #0C0C0C;
    font-weight: bolder;
    font-size:20px;
   padding-right: 20%;
  
}
ion-content{

    --ion-background-color:	white;
}
#next{
    position: absolute;
   right: var(--padding-start);
   color: gray;
}
